language: node_js
os:
  - linux
node_js:
  - "12"
  - "11"
  - "10"
  - "9"
  - "8"
  - "lts/*"
  - "node"
install:
    - yarn --ignore-engines
script: "npm run eslint && npm run coveralls"
deploy:
  provider: npm
  email: wj42ftns@gmail.com
  api_key: $NPM_TOKEN
  on:
    tags: true
    repo: wj42ftns/replace-in-files
notifications:
  email:
    recipients:
      - wj42ftns@gmail.com
    on_success: always # default: change
    on_failure: always # default: always
